

<div ng-controller="MainCtrl as vm">

    <!-- <div ng-show="vm.place">
      Address = {{vm.place.formatted_address}} <br/>
    </div> -->

    <div map-lazy-load="https://maps.google.com/maps/api/js"
      map-lazy-load-params="{{vm.googleMapsUrl}}" >
    <ng-map class="map" default-style="false" center="seattle" on-center-changed="vm.centerChanged()">



            <custom-control class="searchControl searchInput" position="TOP_CENTER">
              <h2>Find Current Shelters</h2>

              <input places-auto-complete size=80
                ng-model="vm.address"
                component-restrictions="{country:'us'}"
                on-place-changed="vm.placeChanged()"
               />
            </custom-control>






            <marker position="[{{shelter.geometry.location.lat}}, {{shelter.geometry.location.lng}}]"
             ng-repeat="shelter in vm.shelterData.results"
              on-click="vm.showDetail(shelter)"
               title="{{shelter.name}}"
               animation="DROP">
             </marker>

            <info-window id="foo-iw" position="{{vm.shelter.geometry.location.lat}},{{vm.shelter.geometry.location.lng}}">
          <div  class="info-window " ng-non-bindable="" >
            <p>
            Name: {{vm.shelter.name}}<br/>
            Address: {{vm.shelter.vicinity}}<br/>
            <a href="https://www.google.com/maps/place/?q=place_id:{{vm.shelter.place_id}}">Google Maps</a>

          </p>
          </div>
        </info-window>

        <!-- <custom-control class="footerControl" position="BOTTOM_CENTER">


        </custom-control> -->





    </ng-map>  <!--  close map   -->
</div>    <!-- close lazyload map -->
</div>     <!--close controller -->
