<div ng-controller="MainCtrl as vm">

    <!-- <div ng-show="vm.place">
      Address = {{vm.place.formatted_address}} <br/>
    </div> -->
    <ng-map class="map" default-style="false" center="seattle">


      <custom-control class="searchControl" position="TOP_CENTER">
        <h2>Find Current Shelters</h2>
          <input places-auto-complete size=80
            ng-model="vm.address"
            component-restrictions="{country:'us'}"
            types="{{types}}"
            on-place-changed="vm.placeChanged()" />
        </custom-control>




        <!-- <marker id='{{station.station_name}}' centered="true" ng-repeat="station in current.fuel_stations" position="{{station.latitude}}, {{station.longitude}}" on-click="showStation(event, station)"> -->

    </ng-map>
</div>
